.camp {
    padding: 100px 0em 3em 0em;
}

.header-camp {
    background-color: brown;
    top: 0rem;
    width: 100%;
    position: absolute;
    padding: 2.9rem;
}

.campus {
    color: brown;
    font-size: 2.9rem;
    padding: 0.4rem;
    margin-left: 1.9rem;
    text-align: center;
    padding: 2rem;
}

.website {
    color: white;
    text-decoration: none;
    font-size: 3.6rem;
    padding-top: 6rem;
    padding-left: 1.6rem;
    position: absolute;
    z-index: 209809;
    font-family: 'Roboto Slab';
}

.map {
    color: white;
    text-decoration: none;
    font-size: 3.6rem;
    padding-top: 6.7rem;
    padding-left: 16rem;
    position: absolute;
    z-index: 209809;
    font-family: 'Roboto Slab';
}

.hostel {
    color: white;
    text-decoration: none;
    font-size: 3.6rem;
    position: absolute;
    top: 57rem;
    padding-left: 1.6rem;
    z-index: 209809;
    font-family: 'Roboto Slab';
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

.tag1 {
    color: rgb(80, 75, 75);
    padding-top: 11rem;
    position: absolute;
    padding-left: 41.5rem;

}

.tag2 {
    color: rgb(80, 75, 75);
    padding-top: 11.2rem;
    position: absolute;
    padding-left: 33.5rem;
}

.tag3 {
    color: rgb(80, 75, 75);
    position: absolute;
    padding-left: 41.5rem;
    z-index: 23532;
    top: 61.7rem;
}

.icon {
    width: 4rem;
    height: 5rem;
    font-size: 50rem;

}

.tag {
    text-indent: 5%;
    text-size-adjust: 100%;
    font-weight: bold;
}

.official_card {
    background-color: rgb(250, 68, 68);
    height: 300px;
    width: 100%;
}


.official_img {
    height: 300px;
    width: 50%;
    float: left;
}

.map_card {
    background-color: rgb(2, 155, 216);
    height: 300px;
    width: 50%;
    position: relative;

}

.map_img {
    height: 300px;
    width: 100%;
    left: 100%;
    position: absolute;
}

.hostel_card {
    background-color: rgb(167, 248, 87);

}

.hostel_img {
    height: 300px;
    width: 50%;
}