.login {
    position: absolute;
    top: 1.4em;
    color: white;
    font-weight: bold;
    left: 84%;
    z-index: 10;
    text-decoration: none;
}


.login {
    text-decoration: none;
    color: white;
    z-index: 10;
}

.sign:hover,
.login:hover {
    color: rgb(0, 0, 0);
}